@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*    background-color: #EBEBEB*/
/*}*/

.ant-btn-primary {
    background-color: dodgerblue;
}
@media print {
    @page {
        margin: 1cm;
    }
    .print-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        top: 0;
        left: 0;
        right: 0;
        background-color: #3da0e3;
        color: white;
    }
    .print-table{
        font-size:11px;
    }
    .print-table tr td{
        padding: 2px 0 !important;
    }
}

::-webkit-scrollbar {
    width: 5px; /* Atur lebar scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Warna thumb (bagian yang dapat di-drag) */
}
.page-break {
    page-break-before: always;
}